<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Employees</title>
</head>
<body>
	<h2>All Employees</h2>
	<hr>
	<table>
		<thead>
			<tr>
				<th align="left">First Name</th>
				<th align="left">Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${listOfEmployees}">
				<td th:text="${employee.firstName}"></td>
				<td th:text="${employee.lastName}"></td>
				<td>
					<a th:href="@{viewAllInfo(id=${employee.id})}">View</a> |
					<a th:href="@{editEmployee(id=${employee.id})}">Edit</a> |
					<a th:href="@{deleteEmployee(id=${employee.id})}" style="color:red; font-weight:bold">X</a>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<a th:href="@{getHome}">Home</a>
</body>
</html>