<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Employee</title>
</head>
<body>
	<h2>Editing Employee <span th:text="${employee.firstName}"></span> <span th:text="${employee.lastName}"></span></h2>
	
	<hr>
	<form method="POST" th:action="@{editEmployeeSubmit}" th:object="${employee}">
		<div>
			<label>First Name: </label>
			<input type="text" th:field="*{firstName}">
		</div>
		<div>
			<label>Last Name: </label>
			<input type="text" th:field="*{lastName}">
		</div>
		<div>
			<label>Salary: </label>
			<input type="number" step="0.01" th:field="*{salary}">
		</div>
		<div>
			<input type="hidden" th:field="*{state}">
		</div>
		<div>
			<input type="hidden" th:field="*{country}">
		</div>
		<input type="hidden" th:field="*{id}">
		<div style="margin-top:5px">
			<input type="submit" value="Update employee">
			<br>
			<a th:href="@{getHome}">Home</a> <br>
			<a th:href="allEmployees">Back</a>
		</div>
	</form>
	<hr>
</body>
</html>