<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
</head>
<body>
<h1>Employee Management System</h1>

<a href="/add-employee">Add Employee</a> <br/>
<a href="/show-employees">Show Employees</a>

<p>

<form method="post" th:action="@{search-by-address}">
	<label>Search by address</label>
	<input name="address" type="text" />
	<input type="submit" value="Search" />
</form>

<form method="post" th:action="@{search-by-first-name}">
	<label>Search by first name</label>
	<input name="firstName" type="text" />
	<input type="submit" value="Search" />
</form>

<form method="post" th:action="@{search-by-last-name}">
	<label>Search by last name</label>
	<input name="lastName" type="text" />
	<input type="submit" value="Search" />
</form>

</body>
</html>