<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Books</title>
</head>
<body>
	<h2>All Books</h2>
	<hr>
	<table>
		<thead>
			<tr>
				<th align="left">Title</th>
				<th align="left">Author</th>
				<th align="left">ISBN</th>
				<th align="left">Price</th>
				<th align="left">Options</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${listOfBooks}">
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.price}"></td>
				<td>
					<a th:href="@{editBook(id=${book.id})}">Edit</a> |
					<a th:href="@{deleteBook(id=${book.id})}" style="color:red; font-weight:bold">X</a>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<form th:action="@{addBook}">
		<input type="submit" value="add book">
	</form>
</body>
</html>